<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>蒋志坚的主页</title>
        <link rel="stylesheet" href="css/blog.css">
        <script src="https://cdn.bootcss.com/remarkable/1.7.1/remarkable.js"></script>
        <script src="https://limonte.github.io/sweetalert2/dist/sweetalert2.js"></script>
        <link rel="stylesheet" href="https://limonte.github.io/sweetalert2/dist/sweetalert2.min.css">
    </head>
    <body>
        <div class="main-container">
            <header class="model-head">
                <div class="head-photo vertical-center">
                    <img src="images/photo.png" alt="头像">
                </div>
                <div class="head-about">
                    <h2 class="about-name">蒋志坚</h2>
                    <p class="about-">谢谢大家的关注，我会继续努力。</p>
                </div>
            </header>
            <aside class="model-aside">
                <ul class="aside-list">
                    <li class="aside-all-blog aside-item">
                        博文目录
                    </li>
                    <li class="aside-new-blog aside-item">
                        新博文
                    </li>
                    <li class="aside-new-contact aside-item">
                        联系我
                        <ul class="secondery-list">
                            <li>
                                <a href="https://www.zhihu.com/people/jiang-zhi-jian/activities">知乎</a>
                            </li>
                        </ul>
                    </li>
                    <li class="aside-new-other aside-item">
                        其他项目
                        <ul class="secondery-list">
                            <li>
                                <a href="#">有待更新</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <main class="model-blogs">
            </main>
        </div>
        <script src="js/blogMain.js"></script>
    </body>
</html>
